services:
  mongodb:
    image: mongo:latest
    container_name: my_mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASSWORD}
      MONGO_INITDB_DATABASE: ${DB_NAME}
    ports:
      - '${DB_PORT}:27017'
    volumes:
      - mongo-data:/data/db
    restart: always
    env_file:
      - .env

volumes:
  mongo-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /d/MongoData