DB_NAME=fluent
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=fluent
DB_PASSWORD=root

VIDEO_STORAGE_PATH=D:/VideoData

DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
